* {
    box-sizing: border-box;
    overflow: auto;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 560px;
}

.left, .right {
  width: 20%;
  background-color:#ccc;
}

.middle {
  width: 60%;
}