<div class="row">
  <div class="column">
    <app-create-wallet></app-create-wallet>
  </div>

  <div class="column">
    <app-debit-credit-wallet></app-debit-credit-wallet>
  </div>
</div>

<div class="row">
    <div class="column">
        <app-fetch-wallet></app-fetch-wallet>
    </div>
    
    <div class="column">
        <app-delete-wallet></app-delete-wallet>
    </div>
</div>
  
<div class="row">
  <div class="column">
    <app-wallets-info></app-wallets-info>
  </div>
  <div class="column">
    <app-all-wallets></app-all-wallets>
  </div>
</div>