<div class="container">
  <div class="div1 bordr">
    This is Div1
  </div>

  <div class="div2 bordr">
    <input type="radio"
      id="radio1"
      name="option">
      <label for="radio1">
        Tea
      </label>
      <div class="check"></div>
  </div>
  
  <div class="div3 bordr">
    <input type="radio"
      id="radio2"
      name="option">
      <label for="radio2">
        Coffee
      </label>
      <div class="check"></div>
  </div>
  <div class="div4 bordr">
    This is Div4
  </div>
</div>