.container {
    border: 1px solid red;
    padding: 0;
}

.bordr {
    border: 2px solid green;
}

.div2, .div3 {
    position: relative;
}

input {
    position: absolute;
    visibility: hidden;
}

label {
    margin-bottom: 0;
    padding-left: 3rem;
    position: relative;
    z-index: 1;
    border: 4px solid yellow;
}

label:hover {
    cursor: pointer;
}

label:hover ~ .check {
    border: 5px solid gray;
    transition: border 0.45s ease;
}

.check {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: 0.3rem;
    left: 0.3rem;
    border: 5px solid #AAAAAA;
    z-index: 0;
}

.check:before {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 8%;
    left: 8%;
    content: '';
    transition: background 0.45s ease-in-out;
    -webkit-transition: background 0.45s ease-in-out;
    background: white;
}

input:checked ~ .check:before {
    background: goldenrod;
}

input:checked ~ .check {
    background:white;
}
